/*
CSS common to all pages
individual pages (e.g. jijx) have additional CSS
*/

/* PC_... not <PC_...> */
*,*::before,*::after {box-sizing: border-box;}
*{font-family:PC_FONTVARIABLE;}

/* vh/svh/lvh/dvh critical to ipad dynamic size */
/* https://dev.to/frehner/css-vh-dvh-lvh-svh-and-vw-units-27k4 */

html,body,form {width:100svw;height:100svh;margin:0;}

body{min-height: 100svh;display: flex;flex-flow: column;} /* row */
form{min-height: 100svh;display: flex;flex-flow: column;} /* row */

div{padding-left:2px;}

#jflexcol{display: flex; flex-flow: column; flex: 1; height:100%;}
#jflexrow{display: flex; flex-flow: row   ; flex: 1; width: 100%;}
#jresizeb{overflow:scroll;border:solid;border-width:1px;clear:left;}

iframe[id^="jifr"]{overflow:auto;flex:1 1 10em;}
iframe[id^="jifr-jijx"]{overflow:auto;flex:3 1 auto;} 

#status-busy{
 position: absolute; top: 0px; left: 70%; border: thick red solid;
 margin: 20px; padding: 10px;display: none; background: white;text-align:center;
}

.jhtitle{margin-left:0px;font-size:2em;}

.transient{border:1px red solid;}

/* button elements */
button{color:black;margin: 2px; padding: 2px; background-color:white;border:0;}
button:hover{cursor:pointer;}

/* burger menu */
.jmenugroup{position:fixed;top:0;left:0;visibility:hidden;border:3px solid black; margin:4px; padding:4px; overflow:scroll;
  background-color:white;max-height:100svh;overflow-y: auto;overflow-x:hidden;z-index:3;} /* z-index top touch buttons */

.jmenuburger,.jmenuitem,.jmenutitle{height:1.5em;}

.jmenuburger{color:black;background-color:white;margin:0px;font-size:1em;width:1em;border:0;margin-right:1em;}
.jmenuburger:hover{background-color:PC_MENU_HOVER;}

.jmenutitle{display:inline-block;}

.jmenuitem {color:black;padding:2px;margin:0px;background-color: white;width:16em;text-decoration:none;border-top:0px solid black;
  display:block;text-align:left;}
.jmenuitem:focus{border:2px solid black;}
.jmenuitem:hover{background-color:PC_MENU_HOVER;}

.jmenuspanleft   {font-family:PC_FONTFIXED;pointer-events: none;}
.jmenuspanright  {font-family:PC_FONTFIXED;float:right;pointer-events: none;}

/* see ev_wrap_click() */
#log{overflow-wrap:normal;white-space:nowrap;} /* jijx log wrap */



.jhb{background-color:PC_BUTTON;border: 1px solid black;border-radius:6px;height:2em;}

/* .jhchk{} .jhrad{} .jhab{} */
.jhchk:hover,.jhrad:hover,.jhab:hover{background-color:PC_BUTTON}


/* end of button styles */

.jhsel{background-color:buttonface;font-family:PC_FONTFIXED;}

input[type=text],input[type=password]{ margin: 2px;padding:2px;border: 1px solid black;}

/* tablet */
@media screen and (max-device-width: 992px){
 *{font-size:24px;}
 .jhab{display:inline-block;min-height:2em;min-width:2em;}
 .jhb{min-height:2em;min-width:2em;}
 .jmenuburger,.jmenuitem,.jmenutitle{min-height:2.5em;min-width:2.5em;}
 input::file-selector-button{font-size:24px;color:green;}
 #log{overflow-wrap:break-word;white-space:normal;} /* jijx log wrap */
}

/* phone */
@media screen and (max-device-width: 640px){
 *{font-size:48px}
 .jhab{display:inline-block;min-height:2.5em;min-width:2.5em;}
 .jhb{min-height:2.5em;min-width:2.5em;}
 .jmenuburger,.jmenuitem,.jmenutitle{height:2.5em;}
 input::file-selector-button{font-size:48px;color:red;} /*min-height:180px;min-width:180px;*/
 #log{overflow-wrap:break-word;white-space:normal;} /* jijx log wrap */

 /* phone hamburger menu */
 .jmenuburger {height:2em;}
 .jmenuitem   {height:2em;}
}

